branches:
 only:
 - master

language: c++
os:
- osx

env:
- CTEST_MODEL=Experimental

compiler:
- clang

cache:
  directories:
  - $HOME/downloads

before_script:
# Install tools required to run DCMQI "doc" tests
- npm install jsonlint -g
- npm install ajv-cli -g
# Install dicom3tools
- wget --no-check-certificate http://slicer.kitware.com/midas3/download/item/270308/dicom3tools_macexe_1.00.snapshot.20161218101718.zip -O dicom3tools.zip
- tar zxf dicom3tools.zip
- mv dciodvfy /usr/local/bin/
# Use scikit-ci-addons to streamline installation of CMake
- pip install scikit-ci-addons==0.11.0
- ci_addons travis/install_cmake 3.6.2
# Install Ninja
- wget --no-check-certificate https://github.com/ninja-build/ninja/releases/download/v1.7.2/ninja-mac.zip
- unzip ninja-mac.zip && sudo cp ninja /usr/local/bin/
script:
- mkdir -p /Users/travis/build/QIICR/dcmqi-build
- cd /Users/travis/build/QIICR/dcmqi-build && cmake -G Ninja /Users/travis/build/QIICR/dcmqi
- ninja
- |
  cd /Users/travis/build/QIICR/dcmqi-build/dcmqi-build
  ctest -j4 -VV -DCTEST_MODEL=$CTEST_MODEL -DCTEST_EMPTY_BINARY_DIRECTORY=FALSE .
- |
  cd /Users/travis/build/QIICR/dcmqi-build/dcmqi-build
  ninja package
