<div layout="row" layout-padding>
  <div class="md-whiteframe-7dp md-padding" id="jsonForm" flex>
    <div layout="column" flex resize>
      <form name="jsonForm" ng-submit="submitForm(jsonForm.$valid)" class="container-fluid" novalidate
            class="customAutoComplete">
        <div layout="column">
          <md-tabs md-selected="selectedIndex" md-autoselect md-dynamic-height>
            <md-tab ng-repeat="segment in [segment]" label="Measurements">
              <md-tab-template layout="column">
                <div layout="row">
                  <div>
                    <md-input-container>
                      <label>InstanceNumber</label>
                      <input required name="InstanceNumber" ng-model="seriesAttributes.InstanceNumber">
                      <div ng-messages="jsonForm.InstanceNumber.$error" role="alert">
                      <div ng-message="required" class="my-message">You must supply an instance number.</div>
                      </div>
                    </md-input-container>
                  </div>
                  <div>
                    <md-input-container>
                      <label>SeriesDescription</label>
                      <input ng-model="seriesAttributes.SeriesDescription">
                    </md-input-container>
                    </div>
                    <div>
                    <md-input-container>
                      <label>SeriesNumber</label>
                      <input required  name="SeriesNumber" ng-model="seriesAttributes.SeriesNumber">
                      <div ng-messages="jsonForm.SeriesNumber.$error" role="alert">
                      <div ng-message="required" class="my-message">You must supply a series number.</div>
                      </div>
                    </md-input-container>
                    </div>
                  <div>
                  <md-input-container>
                    <label>BodyPartExamined</label>
                    <input ng-model="seriesAttributes.BodyPartExamined">
                  </md-input-container>
                  </div>
              </div>
              <div layout="row">
                <div>
                  <md-input-container>
                    <label>Parametric Map Context Name</label>
                    <md-select ng-model="$root.selectedParametricMapContext">
                      <md-option ng-repeat="context in pmapContexts" ng-value="context">
                        {{context.name}}
                      </md-option>
                    </md-select>
                  </md-input-container>
                </div>
                <div>
                  <md-input-container>
                    <label>Anatomic Region Context Name</label>
                    <md-select ng-model="$root.selectedAnatomicRegionContext">
                      <md-option ng-repeat="context in anatomicRegionContexts" ng-value="context">
                        {{context.name}}
                      </md-option>
                    </md-select>
                  </md-input-container>
                </div>
              </div>
                <!--context Attributes-->
              <div layout="column" ng-show="$root.selectedParametricMapContext != undefined">
                <div layout="row">
                  <parametric-map-quantity-selector required="true" flex></parametric-map-quantity-selector>
                  <parametric-map-measurement-unit-selector required="true" flex></parametric-map-measurement-unit-selector>
                </div>
                <div layout="row">
                  <anatomic-region-selector required="true" flex></anatomic-region-selector>
                  <anatomic-region-modifier-selector required="false" flex></anatomic-region-modifier-selector>
                </div>
                <div layout="row">
                  <div>
                    <md-button name="submitButton" class="md-raised md-primary" type="submit">OK</md-button>
                  </div>
                  <div>
                    <md-button class="md-raised" ng-click="resetForm()">Reset</md-button>
                  </div>
                </div>
              </div>
            </md-tab-template>
          </md-tab>
          </md-tabs>
        </div>
      </form>
    </div>
  </div>
  <div class="md-whiteframe-7dp md-padding" id="jsonOutput" flex>
    <div layout="row" flex resize>
      <div ui-ace="{
        showGutter: true,
        mode: 'json',
        onChange: onOutputChanged
      }" ng-model="output" flex id="validationInput" ></div>
      <div id="jsonButtons">
        <div layout="row">
          <md-button class="md-fab md-mini md-primary" ng-disabled="!validJSON" id="copyButton" ngclipboard
                     data-clipboard-text="{{ output }}">
            <md-tooltip md-direction="bottom">Copy to clipboard</md-tooltip>
            <ng-md-icon icon="content_copy" style="fill:white"/>
          </md-button>
        </div>
        <div layout="row">
          <md-button class="md-fab md-mini md-primary" ng-disabled="!validJSON" id="downloadButton" ng-click="downloadFile()">
            <md-tooltip md-direction="bottom">Download as JSON</md-tooltip>
            <ng-md-icon icon="file_download" style="fill:white"/>
          </md-button>
        </div>
      </div>
    </div>
  </div>
</div>