<div layout="row" layout-padding>
  <div class="md-whiteframe-7dp md-padding" id="jsonForm" flex resize>
    <div layout="column" flex>
      <form name="jsonForm" ng-submit="submitForm(jsonForm.$valid)" class="container-fluid" novalidate
            class="customAutoComplete">
      <!--Series Attributes -->
      <div layout="row">
        <div flex ngf-drop ngf-select ng-model="file" class="drop-box"
             ngf-drag-over-class="'dragover'" ngf-multiple="false" ngf-allow-dir="false"
             accept="application/dicom"
             ngf-pattern="'application/dicom'">
          {{dropZoneText}}
        </div>
      </div>
      <div layout="row">
        <div>
        <md-input-container>
          <label>ContentCreatorName</label>
          <input required name="ContentCreatorName" ng-model="seriesAttributes.ContentCreatorName"
                 ng-maxlength="64">
          <div ng-messages="jsonForm.ContentCreatorName.$error" role="alert">
          <div ng-message="required" class="my-message">You must supply a reader ID.</div>
          </div>
        </md-input-container>
        </div>
        <div>
        <md-input-container>
          <label>ClinicalTrialSeriesID</label>
          <input required name="ClinicalTrialSeriesID" ng-model="seriesAttributes.ClinicalTrialSeriesID"
                 ng-maxlength="64">
          <div ng-messages="jsonForm.ClinicalTrialSeriesID.$error" role="alert">
          <div ng-message="required" class="my-message">You must supply a session ID.</div>
          </div>
        </md-input-container>
        </div>
        <div>
        <md-input-container>
          <label>ClinicalTrialTimePointID</label>
          <input required name="ClinicalTrialTimePointID" ng-model="seriesAttributes.ClinicalTrialTimePointID"
                 ng-maxlength="64">
          <div ng-messages="jsonForm.ClinicalTrialTimePointID.$error" role="alert">
          <div ng-message="required" class="my-message">You must supply a timepoint ID.</div>
          </div>
        </md-input-container>
        </div>
        <div>
        <md-input-container>
          <label>InstanceNumber</label>
          <input required name="InstanceNumber" ng-model="seriesAttributes.InstanceNumber">
          <div ng-messages="jsonForm.InstanceNumber.$error" role="alert">
          <div ng-message="required" class="my-message">You must supply an instance number.</div>
          </div>
        </md-input-container>
        </div>
      </div>
      <div layout="row">
        <div>
        <md-input-container>
          <label>SeriesDescription</label>
          <input ng-model="seriesAttributes.SeriesDescription">
        </md-input-container>
        </div>
        <div>
        <md-input-container>
          <label>SeriesNumber</label>
          <input required  name="SeriesNumber" ng-model="seriesAttributes.SeriesNumber">
          <div ng-messages="jsonForm.SeriesNumber.$error" role="alert">
          <div ng-message="required" class="my-message">You must supply a series number.</div>
          </div>
        </md-input-container>
        </div>
        <div>
        <md-input-container>
          <label>BodyPartExamined</label>
          <input ng-model="seriesAttributes.BodyPartExamined">
        </md-input-container>
        </div>
      </div>
      <div layout="row">
          <md-input-container>
            <label>Segmentation Category Type Context Name</label>
            <md-select ng-disabled="segments[0].segmentedPropertyCategory || segments.length > 1" name="selectedSegmentationCategoryContext"
                       ng-model="selectedSegmentationCategoryContext">
              <md-option ng-repeat="context in segmentationContexts" ng-value="context">
                {{context.name}}
              </md-option>
            </md-select>
          </md-input-container>
      </div>
      <!--Segment Attributes-->
      <div layout="row" ng-show="selectedSegmentationCategoryContext != undefined">
        <div>
          <span class="md-title" style="padding-right: 10px;">Segment Attributes</span>
        </div>
        <div>
          <md-button class="smaller" ng-click="previousSegment()"
                     ng-disabled="segments.length == 1 || selectedIndex == 0">
            <md-tooltip md-direction="bottom">Previous segment</md-tooltip>
            <div ng-show="segments.length == 1  || selectedIndex == 0">
              <ng-md-icon  icon="keyboard_arrow_left" style="fill:grey"/>
            </div>
            <div ng-show="segments.length > 1  && selectedIndex != 0">
              <ng-md-icon  icon="keyboard_arrow_left" style="fill:black"/>
            </div>
          </md-button>
          <md-button class="smaller" ng-click="nextSegment()"
                     ng-disabled="segments.length == 1 || selectedIndex == segments.length-1">
            <md-tooltip md-direction="bottom">Next segment</md-tooltip>
            <div ng-show="segments.length == 1 || selectedIndex == segments.length-1">
              <ng-md-icon  icon="keyboard_arrow_right" style="fill:grey"/>
            </div>
            <div ng-show="segments.length > 1 && selectedIndex < segments.length-1">
              <ng-md-icon  icon="keyboard_arrow_right" style="fill:black"/>
            </div>
          </md-button>
          <md-button class="smaller" ng-click="addSegment()">
            <md-tooltip md-direction="bottom">Add segment</md-tooltip>
            <ng-md-icon icon="add" style="fill:black"/>
          </md-button>
          <md-button class="smaller" ng-click="removeSegment()" ng-disabled="segments.length == 1">
            <md-tooltip md-direction="bottom">Remove segment</md-tooltip>
            <div ng-show="segments.length == 1">
              <ng-md-icon icon="delete" style="fill:grey"/>
            </div>
            <div ng-show="segments.length != 1">
              <ng-md-icon icon="delete" style="fill:black"/>
            </div>
          </md-button>
        </div>
      </div>
      <div layout="column" ng-show="selectedSegmentationCategoryContext != undefined">
        <md-tabs md-selected="selectedIndex" md-autoselect md-dynamic-height>
          <md-tab ng-repeat="segment in segments" label="{{segment.LabelID}}">
            <md-tab-template layout="column">
            <div layout="row">
              <div>
                <md-input-container>
                  <label>LabelID</label>
                  <input required type="number" name="LabelID" ng-model="segment.LabelID" min="1" ng-pattern="/[0-9]$/"
                         non-Existent-Label>
                  <div ng-messages="jsonForm.LabelID.$error" role="alert">
                  <div ng-message="required" class="my-message">You must supply a label id.</div>
                  <div ng-message="nonExistentLabel" class="my-message">Already exists.</div>
                  </div>
                </md-input-container>
              </div>
              <div>
                <md-input-container>
                  <label>SegmentDescription</label>
                  <input ng-model="segment.SegmentDescription">
                </md-input-container>
              </div>
              <div>
                <md-input-container>
                  <label>SegmentAlgorithmType</label>
                  <md-select required name="SegmentAlgorithmType_{{segment.LabelID}}"
                             ng-model="segment.SegmentAlgorithmType">
                    <md-option ng-repeat="segmentAlgorithmType in segmentAlgorithmTypes" ng-value="segmentAlgorithmType">
                      {{segmentAlgorithmType}}
                    </md-option>
                  </md-select>
                </md-input-container>
              </div>
              <div ng-show="isSegmentAlgorithmNameRequired(segment.SegmentAlgorithmType)"  flex>
                <md-input-container>
                  <label>SegmentAlgorithmName</label>
                  <input ng-required="isSegmentAlgorithmNameRequired(segment.SegmentAlgorithmType)"
                         name="SegmentAlgorithmName_{{segment.LabelID}}" ng-model="segment.SegmentAlgorithmName">
                </md-input-container>
              </div>
            </div>
            <div layout="row">
              <div ng-controller="SegmentedPropertyCategoryCodeController as ctrl" class="ng-scope" flex>
              <custom-Autocomplete></custom-Autocomplete>
              </div>
              <div ng-controller="SegmentedPropertyTypeController as ctrl" class="ng-scope" flex>
              <custom-Autocomplete></custom-Autocomplete>
              </div>
            </div>
            <div layout="row">
              <div ng-controller="SegmentedPropertyTypeModifierController as ctrl" class="ng-scope" flex>
              <custom-Autocomplete></custom-Autocomplete>
              </div>
              <div flex label="Recommended Display RGB Value"
                   md-color-picker="segment.recommendedDisplayRGBValue.backgroundOptions"
                   ng-model="segment.recommendedDisplayRGBValue.color"></div>
            </div>
            <div layout="row">
              <v-accordion flex class="vAccordion--default" multiple>
              <v-pane>
                <v-pane-header>Optional</v-pane-header>
                <v-pane-content>
                <div layout="row">
                  <div ng-controller="AnatomicRegionController as ctrl" flex>
                  <custom-Autocomplete></custom-Autocomplete>
                  </div>
                  <div ng-controller="AnatomicRegionModifierController as ctrl" class="ng-scope" flex>
                  <custom-Autocomplete></custom-Autocomplete>
                  </div>
                </div>
                </v-pane-content>
              </v-pane>
              </v-accordion>
            </div>
            </md-tab-template>
          </md-tab>
        </md-tabs>
      </div>
      <div layout="row" ng-show="selectedSegmentationCategoryContext != undefined">
        <div>
        <md-button name="submitButton" class="md-raised md-primary" type="submit">OK</md-button>
        </div>
        <div>
        <md-button class="md-raised" ng-click="resetForm()">Reset</md-button>
        </div>
      </div>
      </form>
    </div>
  </div>
  <div class="md-whiteframe-7dp md-padding" id="jsonOutput" flex resize>
    <div layout="row" flex>
      <md-input-container flex style="overflow: auto">
        <textarea  aria-label="JSON-output" id="output" ng-model="output" ng-change="onOutputChanged()"
                   ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0} }">
          {{output}}
        </textarea>
      </md-input-container>
      <md-button class="md-fab md-mini md-primary" ng-disabled="!validJSON" id="copyButton" ngclipboard
                 data-clipboard-text="{{ output }}">
        <md-tooltip md-direction="bottom">Copy to clipboard</md-tooltip>
        <ng-md-icon icon="content_copy" style="fill:white"/>
      </md-button>
      <md-button class="md-fab md-mini md-primary" ng-disabled="!validJSON" id="downloadButton" ng-click="downloadFile()">
        <md-tooltip md-direction="bottom">Download into file</md-tooltip>
        <ng-md-icon icon="file_download" style="fill:white"/>
      </md-button>
    </div>
  </div>
</div>