<div layout="row" layout-padding>
  <div class="md-whiteframe-7dp md-padding" id="jsonOutput" flex resize>
    <div layout="row" flex>
      <md-input-container>
        <label>Validation Schema</label>
        <md-select ng-model="schema" ng-change="onSchemaSelected()">
          <md-option ng-repeat="schema in schemata" ng-value="schema">
            {{schema.name}}
          </md-option>
        </md-select>
      </md-input-container>
    </div>
    <div layout="row" flex>
      <md-input-container flex style="overflow: auto">
        <textarea  aria-label="JSON-output" id="output" ng-model="output" ng-change="onOutputChanged()"
                   ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0} }">
          {{output}}
        </textarea>
      </md-input-container>
    </div>
  </div>
</div>